@model List<Friends.Models.FriendModel>

@{
    ViewBag.Title = "ShowFriends";
}

<h2>ShowFriends</h2>

<table>
    <tr>
        <td>FriendID</td>
        <td>Friend Name</td>
        <td>Place</td>
        <td></td>
    </tr>
    @{ 
        foreach (var friend in Model)
        {
    <tr>
        <td>@friend.Id</td>
        <td>@friend.Name</td>
        <td>@friend.MestoNaZiveenje</td>
        <td>
            @Html.ActionLink("Edit", "EditFriend", new { id = friend.Id }, new { @class = "btn btn-default" })
            @Html.ActionLink("Delete", "DeleteFriend", new { id = friend.Id }, new { @class = "btn btn-default" })
        </td>
    </tr>
            
        }
    }
</table>
